<section>
  <div class="addbottun-position">
    <h1>
      <a href="/">メモアプリ</a>
    </h1>
  </div>
</section>
<section>
  <div>
  <form class="edit-layout" action="/memo" method="POST">
      <div>タイトル</div>
      <input class="title-new-memo" name="title" required>
      <div>内容</div>
      <textarea class="content-new-memo" name="content" required></textarea>
      <button class="add-memo" type="submit">追加する</button>
  </form>
  </div>
</section>
