<section>
  <h1>
    <a href="/">メモアプリ</a>
  </h1>
</section>
<section>
  <p class="title-show-font"><%= CGI.escapeHTML(@memo['title']) %></p>
  <p><%= CGI.escapeHTML(@memo['content']).gsub(/\r/, '<br/>') %></p>
  <div class="button-show-layout">
    <a class="button-show-update" action="/memo/<%= params[:id] %>/edit" method="GET">
      <button class="button-show-update" type="submit">編集</button>
    </form>
    <a class="button-show-update" action="/memo/<%= params[:id] %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button class="button-show-update" type="submit">削除</button>
    </form>
  </div>
</section>
